*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    display: flex;
    height: 80vh;
    width: 80vw;
}
.card{
    flex: 0.5;
    position: relative;
    margin: 20px;
}
h3{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    opacity: 0;
}
.active{
    opacity: 1;
    flex: 5;
}
.active h3{
    opacity: 1;
}